.*
!.editorconfig
!.gitignore
!.gitattributes
!.travis.yml
!.appveyor.yml
Thumbs.db
/build
/out
/CMakeSettings.json
/make_release.bat

/CMakeFiles
/Win32
/samdisk.dir
/samdisk.*
/*.vcxproj*
/CMakeCache.txt
/cmake_install.cmake
/config.h
/Debug
/Release
/build-*
/SAMdisk4-*.zip

